<footer class="footer">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="#">
                        Contact
                    </a>
                </li>
                <li>
                    <a href="#">
                        Terms
                    </a>
                </li>
                <li>
                    <a href="#">
                        Privacy Policy
                    </a>
                </li>
                <li>
                    <a href="#">
                        Cookie Policy
                    </a>
                </li>
            </ul>
        </nav>
        <div class="social-icons float-right">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</footer>